<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ff8303"/>
    <meta name="description" content="Tzty apps is a restaurants catalogue with favorite list feature" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="logo-transparent.png">
    <title>Tzty Apps</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet" type="text/css">
</head>
<body>
<a href="#mainContent" class="skip-link">Skip to Content</a>
<header class="header">
    <a href="index.html" class="header__logo">
        <img src="logo.png" width="70" height="70" alt="Tzty Apps Logo">
    </a>
    <div class="header__menu">
        <button id="hamburgerButton" aria-label="Hamburger Button">☰</button>
    </div>
    <nav id="navigationDrawer" class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a href="#/home">Home</a></li>
            <li class="nav__item"><a href="#/favorite">Favorite</a></li>
            <li class="nav__item"><a href="http://linkedin.com/in/dmalvian" target="_blank" rel="noopener">About Us</a></li>
        </ul>
    </nav>
</header>
<div id="hero" class="hero">
    <div class="hero__inner">
        <h1 class="hero__title">Tzty Makes Happy</h1>
        <p class="hero__tagline">Find your favorite restaurant that perfectly suit your taste.</p>
    </div>
</div>
<div id="feature" class="feature">
    <figure class="feature-item">
        <img src="/features/restaurant.svg" width="75" height="75" alt="Restaurant Ilustration">
        <figcaption>Best Places</figcaption>
    </figure>
    <figure class="feature-item">
        <img src="/features/meat.svg" width="75" height="75" alt="Foods Ilustration">
        <figcaption>Best Foods</figcaption>
    </figure>
    <figure class="feature-item">
        <img src="/features/waiter.svg" width="75" height="75" alt="Waiter Ilustration">
        <figcaption>Best Services</figcaption>
    </figure>
    <figure class="feature-item">
        <img src="/features/invoice.svg" width="75" height="75" alt="Invoice Ilustration">
        <figcaption>Best Prices</figcaption>
    </figure>
</div>
<main id="mainContent"></main>
<footer>
    <p>Copyright © 2021 - Tzty Apps</p>
</footer>
<script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>
</body>
</html>